/*
PWA APPLICATION DEVELOPED BY OPTIMA SOLUTION.
ALL RIGHTS RESERVED.
 */
 /*chat bot starts*/
 .wrapper{
    width: 40%;
    min-width: 250px;
    height: 70%;
    max-height: 500px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-top: 0px;
}
.chattitle{
    background: #007bff;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #006fe6;
    border-radius: 5px 5px 0 0;
}
.msg-header{
  max-width: 70%;
  margin-left: 30px;
}
.msg-header p{
  color: #fff;
  background: #007bff;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 14px;
  word-break: break-all;
}
.msg-headersystem{
  max-width: 70%;
  margin-left: 10px;
}
.msg-headersystem p{
  color: #fff;
  background: #050505;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 14px;
  word-break: break-all;
}
.wrapper .typing-field{
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background: #efefef;
  border-top: 1px solid #d9d9d9;
  border-radius: 0 0 5px 5px;
}
.wrapper .typing-field .input-data{
  height: 40px;
  width: 335px;
  position: relative;
}
.wrapper .typing-field .input-data input{
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  padding: 0 80px 0 15px;
  border-radius: 3px;
  font-size: 15px;
  background: #fff;
  transition: all 0.3s ease;
}
.typing-field .input-data input:focus{
  border-color: rgba(0,123,255,0.8);
}
.input-data input::placeholder{
  color: #999999;
  transition: all 0.3s ease;
}
.input-data input:focus::placeholder{
  color: #bfbfbf;
}
.wrapper .typing-field .input-data button{
  position: absolute;
  right: 5px;
  top: 50%;
  height: 30px;
  width: 65px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  background: #007bff;
  border: 1px solid #007bff;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.wrapper .typing-field .input-data input:valid ~ button{
  opacity: 1;
  pointer-events: auto;
}
.typing-field .input-data button:hover{
  background: #006fef;
}
/* chatbot ends */

 /* TOOLTIP starts*/
 .tooltip {
   position: relative;
   display: inline-block;
   border-bottom: 1px dotted black;
   width: 45px;;
 }
 
 .tooltip .tooltiptext {
   visibility: hidden;
   width: 120px;
   background-color: black;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
 
   /* Position the tooltip */
   position: absolute;
   z-index: 1;
 }
 
 .tooltip:hover .tooltiptext {
   visibility: visible;
 }
 /* TOOLTIP END*/

/* rokons css*/
  div#nav {position: fixed; top: 25%; right: 0px; margin: 0px; padding: 20px 0px 0px; background:#5681b4; list-style: none; z-index:9999; width: 200px; border-radius:10px 0px 0px 10px}
  div#nav .nav-btn{background:#ff3385; color:white; border-radius:10px 0px 0px 10px; position:absolute;top:0px; left:-25px; width:25px; height:250px; display:block; cursor:pointer;}
  div#nav .nav-btn img{margin:20px 0px 0px 13px; }
  div#nav li {width: 170px; height: 200px; margin-bottom:20px; text-align:center; text-decoration:none; color:#FFF;}
  div#nav li a{color:#FFF; text-decoration: none;}
  .available{ display: none; }
  .divborder{
    border: 1px solid #ccc;
  }
  .divborder:hover {
    border: 1px solid #777;
  }
  
/* rasheds css*/
.fixed-action-btn{
  bottom: 10% !important;
}
.cart {
  position: fixed; top: 50px; 
  right: 0px; margin: 0px; 
  padding: 20px 0px 0px; background:#5681b4; list-style: none; 
  z-index:100; width: 250px; height: 800px;
  border-radius:10px 0px 0px 10px;
  display: none;
}

 ul#nav-mobile li a i{margin: 0 10px 0 0;}
 .star{
  display: inline-block;
  cursor: pointer;
 }
.testimonial {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.testimonial::after {
  content: "";
  clear: both;
  display: table;
}

.testimonial img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.testimonial span {
  font-size: 20px;
  margin-right: 15px;
}


.select-dropdown{
    color: #000;
}
ul.dropdown-content.select-dropdown li span {
    color: #000; 
}

div.divck{
  display: inline-flex;
}
div.absolute {
  position: absolute;
  width: 100%;
  bottom: -20px;
  /*margin-left: 1%;*/
  margin-right: 1%;
  z-index: 1;
} 

.rotate {
  writing-mode: vertical-lr;
  /*transform: rotate(-90deg);*/
  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  /*-webkit-transform: rotate(-90deg);*/
  /* Firefox */
  /*-moz-transform: rotate(-90deg);*/
  /* IE */
  /*-ms-transform: rotate(-90deg);*/
  /* Opera */
  /*-o-transform: rotate(-90deg);*/
  /* Internet Explorer */
  /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}
.rotate_rigth {
  writing-mode: vertical-rt;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  /*background: #3B5998;*/
  color: white;
}

.fa-twitter {
  /*background: #55ACEE;*/
  color: white;
}

.fa-google {
  /*background: #dd4b39;*/
  color: white;
}

.fa-linkedin {
  /*background: #007bb5;*/
  color: white;
}

.fa-youtube {
  /*background: #bb0000;*/
  color: white;
}

.fa-instagram {
  /*background: #125688;*/
  color: white;
}

.fa-pinterest {
  /*background: #cb2027;*/
  color: white;
}

.fa-snapchat-ghost {
  /*background: #fffc00;*/
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
/* rashed css  ends*/
* {
  box-sizing: border-box;
}

html,
body {
  color: rgb(0, 0, 0);
  font-family: 'Helvetica', 'Verdana', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* html {
  overflow: hidden;
} */

body {
  align-content: stretch;
  align-items: stretch;
  background: #ececec;
  /* display: flex; */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/**
 * Header
 */

 .icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.sidenav{
  z-index: 2000;
}
.header {
  align-content: center;
  align-items: stretch;
  background: black;
  box-shadow:
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 2px 9px 1px rgba(0, 0, 0, 0.12),
    0 4px 2px -2px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 15px;
  height: 56px;
  justify-content: flex-start;
  padding: 10px 10px 0 10px;
  position: fixed;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  width: 100%;
  will-change: transform;
  z-index: 1000;
}

.header h1 {
  flex: 1;
  font-size: 15px;
  font-weight: 400;
  padding-left: 5px;
  padding-top: 5px;
  margin: 0;
}

.header button {
  border: none;
  cursor: pointer;
  height: 30px;
  margin-right: 16px;
  opacity: 0.54;
  outline: none;
  overflow: hidden;
  text-indent: -30000px;
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  width: 30px;
}

.header #butRefresh {
  background: url("../images/refresh.svg") center center no-repeat;
}

.header #butInstall {
  background: url("../images/install.svg") center center no-repeat;
}

.header #butLoan {
  background: url("../images/loan.jpg") center center no-repeat;
}

.header #butDep {
  background: url("../images/dep.jpg") center center no-repeat;
}

.header .powered-by {
  color: white;
  font-size: 0.6em;
  text-decoration: none;
}


@keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(450deg); }
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    transform: rotate(0);
  }

  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    transform: rotate(90deg);
  }
}

/**
 * Icons
 */

.icon {
  background-repeat: no-repeat;
  background-size: contain;
}

.icon.add {
  background-image: url("images/add.svg");
}



/**
 * Main body
 */

.main {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 60px;
  padding-left: 1%;
}

.main .fab {
  background-color: #3f51b5;
  border-radius: 50%;
  bottom: 1rem;
  height: 56px;
  padding: 12px;
  position: fixed;
  right: 1rem;
  width: 56px;
  z-index: 1000;
}

.main .fab .icon {
  display: inline-block;
  height: 100%;
  width: 100%;
}

/**
 * Add dialog
 */

#addDialogContainer {
  background: rgba(0, 0, 0, 0.57);
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  width: 100%;
  will-change: opacity;
}

#addDialogContainer.visible {
  opacity: 1;
  pointer-events: auto;
}

.dialog {
  background: #fff;
  border-radius: 2px;
  box-shadow:
    0 0 14px rgba(0, 0, 0, 0.24),
    0 14px 28px rgba(0, 0, 0, 0.48);
  left: 50%;
  min-width: 280px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) translateY(30px);
  transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
}

.dialog > div {
  padding-left: 24px;
  padding-right: 24px;
}

.dialog-title {
  font-size: 1.25em;
  padding-top: 20px;
}

.dialog-body {
  padding-bottom: 24px;
  padding-top: 20px;
}

.dialog-body select {
  width: 100%;
}

.dialog-buttons {
  float: right;
  padding-bottom: 16px;
  padding-right: 17px !important;
}

.dialog .button {
  background: transparent;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
}

#root {
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

table, th, td {
  border: 1px solid black;
}
.ribbonfooter{
  position: fixed;
  top: 95%;
  right: 0;
  left:5px;;
  width:100%;
  height: 5%;
  z-index: 100000;
}